.NoteList {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.NoteList__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    color: black;
    width: 300px;
    font-size: 1.5rem;
    min-height: 3rem;
    padding: 0 0 1rem 0;
}

.NoteList__item-text {
    width: calc(100% - 2rem);
    height: auto;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow: hidden;
}

.NoteList__item-delete-button {
    align-self: flex-end;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}