@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* root */

:root {
    --color: white;
    --back-color: dodgerblue;
}

:root.light {
    --color: black;
    --back-color: skyblue;
}

/* resets */

* {
    font-family: Lato;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

h1, label {
    color: var(--color)
}

/* general */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container--full {
    height: 100%;
}

.container--row {
    flex-direction: row;
}

.container--spaced {
    gap: 10px;
}

.container--padded {
    padding: 10px;
}

.container--distributed {
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--color);
    /* border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--color); */
    color: var(--color);
    font-size: 1rem;
    caret-color: var(--color);
}

.input:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color);
}

.input::selection {
    background-color: var(--color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color);
}

.input::placeholder {
    color: transparent;
}

.input:focus {
    outline: none;
}

.button {
    background-color: transparent;
    /* border: 1px solid white; */
    border-width: 1px;
    border-style: solid;
    border-color: var(--color);
    padding: 5px;
    color: var(--color);
    font-size: 1rem;
    cursor: pointer;
}

.anchor {
    color: var(--color);
}

.anchor:visited {
    color: var(--color);
}

.main {
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main::-webkit-scrollbar {
    display: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-button {
    background-color: transparent;
    border: none;
    color: var(--color);
    font-size: 3rem;
    cursor: pointer;
}